## Importing required libraries

In [1]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#to avoid warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv(r"C:\Users\Lenovo\Documents\jupyter notebook DATA SCIENCE\ML project\Project on HR Analytics data\eda_data")

In [4]:
data.head()

,Unnamed: 0,department,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,0,8,2,0,1,1,35,5.0,8,1,0,49,0
1,1,7,1,1,2,1,30,5.0,4,0,0,60,0
2,2,8,1,1,1,1,34,3.0,7,0,0,50,0
3,3,8,1,1,2,2,39,1.0,10,0,0,50,0
4,4,6,1,1,2,1,45,3.0,2,0,0,73,0

In [5]:
#dropping Unnamed column
data = data.drop("Unnamed: 0",axis=1)

In [6]:
data.head()

,department,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,8,2,0,1,1,35,5.0,8,1,0,49,0
1,7,1,1,2,1,30,5.0,4,0,0,60,0
2,8,1,1,1,1,34,3.0,7,0,0,50,0
3,8,1,1,2,2,39,1.0,10,0,0,50,0
4,6,1,1,2,1,45,3.0,2,0,0,73,0

In [7]:
data.isna().sum()

department              0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [8]:
data.shape

(54808, 12)

In [9]:
data.dtypes

department                int64
education                 int64
gender                    int64
recruitment_channel       int64
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [10]:
# Splitting the data
X = data.drop("is_promoted",axis=1)
y = data['is_promoted']

In [11]:
from sklearn.model_selection import train_test_split #this funciton split x and y randomnly-
#so for each time the output will be diffrent.to keep the data consistant we have to set a seed.random_state!=0, we are setting a seed.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33,random_state=42)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

GridSearchCV for paramter tuning

In [13]:
#hyper parameters
from sklearn.model_selection import GridSearchCV 

solver_values = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
penalty_values = ['l1', 'l2', 'elasticnet', 'none']
parameters = {'solver':solver_values , 'penalty': penalty_values }

In [14]:
classifier = GridSearchCV(classifier, parameters)
classifier.fit(X_train, y_train)

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'penalty': ['l1', 'l2', 'elasticnet', 'none'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag',
                                    'saga']})

In [15]:
# Getting the best parameters
classifier.best_params_

{'penalty': 'none', 'solver': 'newton-cg'}

In [16]:
classifier_final = LogisticRegression(penalty = 'none',solver='newton-cg')
classifier_final.fit(X_train, y_train)

LogisticRegression(penalty='none', solver='newton-cg')

In [17]:
# Predicting 
y_pred=classifier_final.predict(X_test)

In [18]:
#confusison matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[16552,    61],
       [ 1306,   168]], dtype=int64)

In [19]:
#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9244208547575606

In [20]:
#precision,Recall,F1 Score
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test,y_pred)

(array([0.92686751, 0.73362445]),
 array([0.99632818, 0.11397558]),
 array([0.96034348, 0.19729888]),
 array([16613,  1474], dtype=int64))

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96     16613
           1       0.73      0.11      0.20      1474

    accuracy                           0.92     18087
   macro avg       0.83      0.56      0.58     18087
weighted avg       0.91      0.92      0.90     18087

Target classes are imbalanced

In [42]:
#END